<div class="adminPage">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/api/open">MUSIC CLOUD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/api/open">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/api/open/songs">Songs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/open/aboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/open/contactUs">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/authUser/add-song">Add Song</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/authUser/add-review">Add Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/admin/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="!_authService.adminLoggedIn()" routerLink="/api/open/login" routerLinkActive="active">Login/Register</a>
                    <a class="nav-link" style="cursor:pointer" *ngIf="_authService.adminLoggedIn()" (click)="_authService.logoutAdmin()">Logout</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Song" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <h3>Users</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Verified</th>
                <th scope="col">Status</th>
                <th scope="col">Admin Privileges</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of _showUsersService.users">
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{true == user.confirmed ? 'Yes' : 'No'}}</td>
                <td>{{true == user.active ? 'Active' : 'Deactivated'}}</td>
                <td>{{true == user.isAdmin ? 'Yes' : 'No'}}</td>
                <td>
                    <a class="btn btn-outline-secondary" (click)="makeUserAdmin(user._id)">
                        <i class="materials-icons">Make admin</i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-outline-secondary" (click)="deactivate(user._id)">
                        <i class="materials-icons">Deactivate</i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-outline-secondary" (click)="activate(user._id)">
                        <i class="materials-icons">Activate</i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
