<div class="aboutUs">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/api/open">MUSIC CLOUD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/api/open">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/api/open/songs">Songs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/open/aboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/open/contactUs">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/authUser/add-song">Add Song</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/open/help">Help Center</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/api/open/login" routerLinkActive="active">Login/Register</a>
                    <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>
                </li>
            </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Song" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>
    <div>
        <h3 style="padding: 20px;">About Us</h3>
        <p style="margin: 20px;">Music Cloud is a music and audio review platform where
            people can come and check out the most popular songs
            today. Users can also add their own reviews and ratings
            to a song.
        </p>
        <p style="margin: 20px;">If you have any concerns please contact us on the contact 
            us page or visit the help center.
        </p>
    </div>
</div>
