<div class="addReview">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/api/open">MUSIC CLOUD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/api/open">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/api/open/songs">Songs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/open/aboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/open/contactUs">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/authUser/add-song">Add Song</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/open/help">Help Center</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/api/open/login" routerLinkActive="active">Login/Register</a>
                    <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Song" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <h3>Add Review</h3>
    <form #reviewForm="ngForm" (ngSubmit)="addReview(reviewForm)">
        <input type="hidden" name="objectID" #objectID="ngModel" [(ngModel)]="_addReviewService.selectedReview.objectID">
        <div class="form-group">
            <div class="input-field col s12">
                <label for="inputRating">Rating:</label>
                <input [(ngModel)]="_addReviewService.selectedReview.rating" #rating="ngModel" name="rating" type="number" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-field col s12">
                <label for="inputSongName">Title:</label>
                <input [(ngModel)]="_addReviewService.selectedReview.songName" #songName="ngModel" name="songName" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-field col s12">
                <label for="inputUser">Username:</label>
                <input [(ngModel)]="_addReviewService.selectedReview.submittedBy" #submittedBy="ngModel" name="submittedBy" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-field col s12">
                <label for="inputDescription">Description:</label>
                <input [(ngModel)]="_addReviewService.selectedReview.description" #description="ngModel" name="description" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-field col s12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>