<div class="loginPage">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/api/open">MUSIC CLOUD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/api/open">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/api/open/songs">Songs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/open/aboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/open/contactUs">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/open/login">Login/Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/authUser/add-song">Add Song</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="/api/authUser/add-review">Add Review</a>
                </li>
            </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Song" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>
    <div class="row pt-5">
        <div class="col-md-6 mx-auto">
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0">Login</h3>
                </div>
                <div class="card-body">
                    <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
                        <div class="form-group">
                            <label for="InputEmail">Email address</label>
                            <input [(ngModel)]="_authService.selectedUser.email" name="email" #email="ngModel" type="text" class="form-control">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input [(ngModel)]="_authService.selectedUser.password" name="password" #password="ngModel" type="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <div class="input-field col s12">
                                <a class="btn btn-primary" href="/api/open/register" role="button">Register</a>
                                <button class="btn btn-primary" type="submit">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>