<div class="homePage">
    <div class="navbar">
        <div>
            <h2>MUSIC CLOUD</h2>
        </div>
        <div class="container">
            <ul>
                <li><a [routerLink]="['/about']" class="smoothScroll">About</a></li>
                <li><a [routerLink]="['/contact-us']" class="smoothScroll">Contact Us</a></li>
                <li><a [routerLink]="['/help']" class="smoothScroll">Help</a></li>
                <li><a [routerLink]="['/login']">Login</a></li>
                <li><a [routerLink]="['/register']" class="smoothScroll">Register</a></li>
            </ul>
        </div>
        <div>
            Search <input type="text">
        </div>
    </div>
</div>
