.jumbotron{
    position: relative;
    
    background: url('../../../../assets/dj-abstract.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 65%;
}

.jumbotron .container {
    z-index: 2;
    position: relative;
  }